<!doctype html>
<html>
  <head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="navbar">
        {% block navbar %}
           <!-- Footer content goes here-->
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
            <!--content goes here-->
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
           <!-- Footer content goes here-->
        {% endblock %}
    </div>
  </body>
</html>

